<h2>Completed Goals</h2>

<table class="u-full-width">
    <thead>
        <tr>
            <th>Name</th>
            <th>Completed On</th>
        </tr>
    </thead>
    <tbody ng-repeat="goal in completeGoals">
        <tr ng-click="selectThisGoal(goal)">
            <td>{{goal.name}}</td>
            <td>{{goal.complete_date | date : 'longDate'}}</td>
        </tr>
        <tr ng-show="goal.selected">
            <td colspan="2"><p><b>Description:</b></p><p>{{goal.description}}</p></td>
        </tr>
    </tbody>
</table>