<md-content>
  <md-tabs md-dynamic-height="" md-border-bottom="">
    <md-tab label="Contact Info">
      <div class="contactinfoclass row">
        <div class="row">
          <div class="two columns"><p></p></div>
          <div class="two columns">
            <img src="../images/statusicons/standoutfalse.png" ng-if="contact.standout == false || contact.standout == undefined" ng-click="standoutTrue(contact._id)"/>
            <img src="../images/statusicons/standouttrue.png" ng-if="contact.standout == true" ng-click="standoutFalse(contact._id)"/>
          </div>
          <div class="two columns">
            <img src="../images/statusicons/convoinitfalse.png" ng-if="contact.convoinit == false || contact.convoinit == undefined" ng-click="convoinitTrue(contact._id)"/>
            <img src="../images/statusicons/convoinittrue.png" ng-if="contact.convoinit == true" ng-click="convoinitFalse(contact._id)"/>
          </div>
          <div class="two columns" >
            <img src="../images/statusicons/invitefalse.png" ng-if="contact.invite == false || contact.invite == undefined" ng-click="inviteTrue(contact._id)"/>
            <img src="../images/statusicons/invitetrue.png" ng-if="contact.invite == true" ng-click="inviteFalse(contact._id)"/>
          </div>
          <div  class="two columns">
            <img src="../images/statusicons/challengerfalse.png" ng-if="contact.challenger == false || contact.challenger == undefined" ng-click="challengerTrue(contact._id)"/>
            <img src="../images/statusicons/challengertrue.png" ng-if="contact.challenger == true" ng-click="challengerFalse(contact._id)"/>
          </div>
          <div class="two columns">
            <img src="../images/statusicons/nevercontactfalse.png" ng-if="contact.nevercontact == false || contact.nevercontact == undefined" ng-click="nevercontactTrue(contact._id)"/>
            <img src="../images/statusicons/nevercontacttrue.png" ng-if="contact.nevercontact == true" ng-click="nevercontactFalse(contact._id)"/>
          </div>
        </div>
        <div class="row moreinfo">
          <form>
            <div>
              <label for="name">Name: </label>
              <input type="text" id="name" ng-model="name" />
            </div>
            <div>
              <label for="name">Occupation: </label>
              <input type="text" id="occupation" ng-model="occupation" />
            </div>
            <div>
              <label for="family">Family: </label>
              <input type="text" id="family" ng-model="family" />
            </div>
            <div>
              <label for="goals">Goals: </label>
              <input type="text" id="goals" ng-model="goals" />
            </div>
            <div>
              <label for="struggles">Strugges: </label>
              <input type="text" id="struggles" ng-model="struggles" />
            </div>
            <div>
              <label for="notes">Notes: </label>
              <textarea id="notes" ng-model="notes"></textarea>
            </div>
            <div>
              <button ng-click="editPost()">Save</button>
              <button ng-click="addReminder($event)">Remind</button>
            </div>
            <div>
            </div>
          </form>
        </div>
      </div>
    </md-tab>
    <md-tab label="Reminders">
      <div class="contactinfoclass reminders">
        <!-- <h2>Reminders placeholder</h2> -->
        <h2>Reminders for {{contact.name}}</h2>

        <md-list>
          <md-list-item class="md-3-line" ng-repeat="reminders in contactReminders.list">
            <div class="md-list-item-text">
              <h3>{{reminders.subject}}</h3>
              <h4>{{reminders.date | date : format : fullDate}}</h4>
            </div>
            <md-button class="md-secondary" ng-click="setComplete(reminders._id)" ng-if="reminders.status == false || reminders.status == undefined">Complete</md-button>
            <md-button class="md-secondary" ng-click="setIncomplete(reminders._id)" ng-if="reminders.status == true">Undo</md-button>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-tab>
  </md-tabs>
</md-content>
